.current-day {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.current-day__card {
    margin: 0 auto;
    max-width: 50rem;
    border: darken($accents, 10%) 2px solid;
    border-radius: 1rem;
    background-color: lighten($background, 10%);
    box-shadow: (3px 3px 5px #000000);
}

.current-day__title-wrapper {
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: .5rem .5rem 0rem 0rem;
    background-color: darken($accents, 10%);
}

.current-day__bonus {
    font-weight: bold;
    color: $accents;
}

.current-day__instructions {
    font-weight: bold;
    color: $accents;
}

.current-day__title {
    padding: 1.5rem 0;
    margin: 0rem 0rem 1.5rem 0rem;
}