---
import axios from 'axios';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { type AlmanaxEntry } from '../types/types';
import 'tippy.js/dist/tippy.css';

const data = await axios
  .get<AlmanaxEntry[]>(
    'https://api.dofusdu.de/dofus2/en/almanax?range%5Bsize%5D=30&timezone=Europe%2FParis'
  )
  .then(({ data }) => data)
  .catch((error) => console.error(error));

const [firstItem, ...rest] = data || [];
---

<Layout title="Almanax">
  <div class="max-w-screen-2xl my-0 mx-auto">
    <div class="flex justify-center gap-4 p-4">
      <ul
        class="grid grid-cols-1 gap-4 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6"
      >
        <li class="sm:col-span-2 sm:row-span-2">
          <Card
            tribute={firstItem?.tribute || {}}
            class="h-full"
            date={firstItem?.date || 'No date available'}
            kamaReward={firstItem?.reward_kamas || 'Not available'}
            bonus={firstItem?.bonus || {}}
            isMainCard
          />
        </li>
        {
          rest.map((item) => (
            <li>
              <Card
                class="h-full"
                date={item.date || 'No date available'}
                kamaReward={item.reward_kamas || 'Not available'}
                tribute={item.tribute || {}}
                bonus={item.bonus || {}}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Layout>
