html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: $m-size;
    background-color: $background;
    color: $letter-color;
    height: 100vh;
    display:flex; 
    flex-direction:column; 
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 $m-size;
}

.wrapper {
    min-height: 100vh;
}