// Colors
$background: #141414;
$letter-color: darken(white, 5%);
$accents: #97BE0D;

// Spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$medium-breakpoint: 86rem;